<head th:fragment="meta">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="includes/img/to_logo.png" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="includes/css/default.css" />
    <link rel="stylesheet" href="includes/css/notify.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="includes/js/notification.js"></script>
</head>
<section th:fragment="menu">
    <div class="sb-menu-bar">
        <a href="home">Home</a>
        <a href="calendar">Calendar</a>
        <a href="archive">Archive</a>
        <a href="person">Persons</a>
        <!--<a href="admin">Admin</a>-->

        <div class="sb-menu-right">
            v1.1.0 <a href="disconnect"><span th:text="${session.user.name}"></span></a>
        </div>
    </div>
</section>