<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <title>Inventory Admin - Login</title>
    <th:block th:include="fragments::meta"></th:block>
</head>
<body>
    <div class="sb-login-card">
        <h1>Login</h1>
        <span th:if="${error != null}">
            ERROR: <span th:text="${error}"></span>
        </span>
        <form action="login" method="post">
            <table style="width: 100%;">
                <tr>
                    <td><span class="sb-login-label">Username</span></td>
                </tr>
                <tr>
                    <td><input class="sb-login-input" type="text" name="username" label="User Name"/><br><br></td>
                </tr>
                <tr>
                    <td><span class="sb-login-label">Password</span></td>
                </tr>
                <tr>
                    <td><input class="sb-login-input" type="password" name="password" label="Password"/></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center"><input class="sb-login-button"  type="submit" value="Login"/></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>