<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <title>Inventory Admin</title>
    <th:block th:include="fragments::meta"></th:block>
</head>
<body>
    <div th:replace="fragments::menu"></div>
    <script src="includes/js/person.js"></script>

    <div class="sb-modal" id="modal">
        <div class="sb-modal-content">
            <span class="sb-close" id="modal-close">&times;</span>
            <div id="modal-content"></div>
        </div>
    </div>

    <div class="sb-container">
        <div class="sb-card sb-margin-top">
            <div class="sb-card-header">
                Persons
            </div>
            <div class="sb-card-body">
                <div>
                    <span class="sb-button" onclick="modalNewPerson();">New Person</span>
                    <select onchange="filterPerson()" id="filter" class="sb-dropdown">
                        <option value="">Filter</option>
                        <option value="all">Show All</option>
                        <option value="admins">Show Admins</option>
                        <option value="mol">Show Edit Molecules</option>
                        <option value="date">Show Filled Dates</option>
                        <option value="fr">Show FR</option>
                    </select>
                    <input type="text" onkeyup="filterInput()" id="filterInput" class="sb-filter" placeholder="Search.."><span id="resultCount"></span>
                </div>
                <div id="persons" class="sb-margin-top">
                    <div class="sb-person" th:each="p:${persons}">
                        <span class="sb-person-username" th:onclick="@{${'modalEditPerson('+p.id+');'}}"><span th:text="${p.username}"></span></span><br>
                        <span th:text="${p.firstname}"></span><br>
                        <span th:text="${p.lastname}"></span><br>
                        <span th:text="${p.location}"></span><br>
                        <span th:text="${#dates.format(p.lastVisited,'dd/MM/yyyy')}"></span><br><br>
                        <div class="sb-person-logo">
                            <img th:if="${p.canEditMol == true}" class="img_tube" width="16px" height="16px" src="includes/img/icon_tube_24.png" alt="Can edit molecules"/>
                            <img th:if="${p.admin == true}" class="img_admin" width="16px" height="16px" src="includes/img/icon_crown_24.png" alt="Is Admin"/>
                        </div>
                        <div class="sb-person-lang">
                            <span th:text="${p.lang}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function(){
            $("#modal-close").click(function(){
                closeModal();
            });

            var modal = document.getElementById("modal");
            window.onclick = function(event) {
                if (event.target == modal) {
                    closeModal();
                }
            }
        });

        function modalNewPerson(){
            $.ajax({
                url: 'person/newperson',
                method: 'get',
                success: function(response){
                    $("#modal-content").html(response);
                    openModal();
                },
                error: function(xhr, status){
                    console.log("["+status+"]: "+xhr.responseText);
                    $("#modal-content").html("["+status+"]: "+xhr.responseText);
                    openModal();
                }
            });
        }

        function modalEditPerson(id){
            $.ajax({
                url: 'person/editperson',
                method: 'get',
                data: {
                    personId: id
                },
                success: function(response){
                    $("#modal-content").html(response);
                    openModal();
                },
                error: function(xhr, status){
                    console.log("["+status+"]: "+xhr.responseText);
                    $("#modal-content").html("["+status+"]: "+xhr.responseText);
                    openModal();
                }
            });
        }

        function filterInput(){
            let filter = $("#filterInput").val().toLowerCase();
            $('.sb-person').filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(filter) > -1);
            });
            displayResultCount();
        }

        function filterPerson(){
            let filter = $("#filter").val();
            switch (filter) {
                case "admins":
                    $('.sb-person').each(function(i, obj){
                        if ($(this).find('.img_admin').length !== 0){
                            $(this).show();
                        }else{
                            $(this).hide();
                        }
                    });
                    break;
                case "mol":
                    $('.sb-person').each(function(i, obj){
                        if ($(this).find('.img_tube').length !== 0){
                            $(this).show();
                        }else{
                            $(this).hide();
                        }
                    });
                    break;
                case "fr":
                    $('.sb-person').each(function(i, obj){
                        if ($(this).find('.sb-person-lang:contains("FR")').length > 0){
                            $(this).show();
                        }else{
                            $(this).hide();
                        }
                    });
                    break;
                case "all":
                    $('.sb-person').each(function(i, obj){
                        $(this).show();
                    });
                    break;
            }

            displayResultCount();
        }

        function displayResultCount(){
            let cnt = $('.sb-person:visible').length;
            $("#resultCount").html("Returned "+ cnt + " results");
        }

        function openModal(){
            $("#modal").show();
        }

        function closeModal(){
            $("#modal").hide();
        }
    </script>
</body>
</html>